flows_ip.json
[{"id":"e1ceecaa.a5e3","type":"exec","z":"eb80c33e.c576b","command":"ip -o route get 8.8.8.8 | cut -d ' ' -f5 | xargs ifconfig | grep \"inet addr\" | awk -F: '{print$2}' | awk '{printf \"%s\", $1}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"get IP","x":500.5,"y":190.5,"wires":[["76896fd5.29688"],[],[]]},{"id":"9f374a66.3379c8","type":"inject","z":"eb80c33e.c576b","name":"update IP","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":true,"x":201.5,"y":172,"wires":[["e1ceecaa.a5e3"]]},{"id":"76896fd5.29688","type":"upm-grove-rgb-lcd","z":"eb80c33e.c576b","name":"","platform":"512","r":0,"g":0,"b":255,"row":0,"column":0,"x":805.5,"y":167,"wires":[]}]
